body
{
    margin: 0;
    font-family: Verdana;
    background: linear-gradient(120deg , #020617 , #1d4ed8 , #06b6d4);
    height: 100vh;
}

/* main container */

.mainBox
{
    width: 450px;
    margin: 70px auto;
    padding: 20px;

    background-color: rgba(255,255,255,0.12);

    border-radius: 12px;

    color: white;

    box-shadow: 0px 0px 15px black;
}

/* title */

.title
{
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

/* form */

.formArea
{
    margin-top: 10px;
}

.row
{
    margin-top: 12px;
}

span
{
    display: block;
    font-size: 14px;
}

input , select
{
    width: 100%;
    padding: 8px;
    margin-top: 5px;

    border-radius: 6px;
    border: none;
}

/* button */

.btnArea
{
    text-align: center;
    margin-top: 15px;
}

button
{
    width: 100%;
    padding: 10px;

    background-color: #22c55e;

    border: none;
    border-radius: 6px;

    color: white;
    font-size: 15px;

    cursor: pointer;
}

button:hover
{
    background-color: #16a34a;
}

/* output */

.outputBox
{
    margin-top: 20px;
    padding: 12px;

    background-color: rgba(0,0,0,0.4);

    border-radius: 8px;

    text-align: center;
}